////////////////////////////////////////////////////////////////
// Syntax Highlighter 

@import "./syntaxHighlighter.scss";

.syntaxhighlighter .toolbar {
    display: none;
}

.syntaxhighlighter .container {
}

/* Some fixes for bootstrap interaction with syntaxhighlighter */
.syntaxhighlighter .container:before {
    display: block;
}
.syntaxhighlighter .container:after {
    display: block;
}

.syntaxhighlighter code {
    background-color: white;
    padding: 0;
}

.syntaxhighlighter table .container:before {
    display: none !important;
}
