/*****************************************************************/
/* Chunky footer */

/*footer .address .muted {
  color: darken($navbar-default-link-hover-color,5%);
}*/

footer {
    color: $navbar-inverse-color;
}

footer.navbar {
  margin-bottom: 0px;
  padding-top: 12pt;
  margin-top: 12pt;
  min-height: $footer-height;
}

footer h5 {
  text-transform:uppercase;
  font-weight: 700;
}

footer a {
    display: block;
    color: $navbar-inverse-link-color;
    // text-shadow: 0 -1px 0 rgba(0,0,0,.25);
    &:hover,
    &:focus {
	color: $navbar-default-link-hover-color;
	text-decoration: none;
    }
}

footer .address p {
    color: $navbar-inverse-link-color;
}

footer .address a {
    display: inline;
}

