/*****************************************************************/
/* A color scheme from http://colorschemedesigner.com/#4X32Gw0w0w0w0 */

$primary-color: #BB0000;

$primary-color-dark: darken($primary-color,10%);
$primary-color-darkest: darken($primary-color,20%);
$primary-color-light: lighten($primary-color,20%);
$primary-color-whiter: mix($primary-color,$white,50%);

$secondary-color: #442369;

$secondary-color-dark: darken($secondary-color,15%);
$secondary-color-darkest: darken($secondary-color,25%);
$secondary-color-light: lighten($secondary-color,20%);
$secondary-color-whiter: mix($secondary-color,$white,50%);

$tertiary-color: #dcaa38;

$tertiary-color-dark: darken($tertiary-color,10%);
$tertiary-color-darkest: darken($tertiary-color,20%);
$tertiary-color-light: lighten($tertiary-color,20%);
$tertiary-color-whiter: mix($tertiary-color,$white,50%);

$white: #ffffff;
