/****************************************************************/
/* we generate foldable environments, but these need to be styled more
   nicely. We also use font-size to hide the details. */

.foldable {
    transition: font-size 0.2s;
}

.unfoldable {
    display: inline;
    font-size: $font-size-base !important;
}

