/****************************************************************/
/* add completion-meter to navbar */

.navbar-progress-bar {
  /* margin-top: (($navbar-height - $line-height-computed) / 2);*/
  margin-bottom: 0;
  /* height: $line-height-computed; */
  /*
  @media (min-width: $grid-float-breakpoint) {
    float: left;
    margin-left: $navbar-padding-horizontal;
    margin-right: $navbar-padding-horizontal;

    // Outdent the form if last child to line up with content down the page
    &.navbar-right:last-child {
      margin-right: 0;
    }
  }
 */
}

.navbar-progress-bar .completion-meter {
  width: 100pt;
}

/* Default to hidden unless we have some progress to display */
.navbar-progress-bar {
    display: none;
}

/* Fixing the size of images */
.image img {
  max-width: 100%;
}
