/****************************************************************/
/* popovers */

.marginalia .popover {   
    position: relative;
    display: block;
    /*width: 260px;*/
    width: 100%;
    //margin: 20px;
}
